{% extends 'blog/base.html' %}
{% load static %}
{% block content %}
        <div class="container mt-3">
            <div class="row">
                <div class="col-md-4 mt-auto mb-auto">
                    <img src="{% static 'blog/images/about.jpg' %}" alt="Image">
                </div>
                <div class="col-md-7 offset-md-1">
                    <h2>About Us</h2>
                    <p>Predicting Student's academic performance is critical for educational institutions because strategic programs can be planned in improving or maintaining student's performance during their period of studies in the institutions.
                    The performance os the academic performance in this study is measured by their cumulative grade point average upon graduating. In this study, the students' demographic profile and CGPA for the first semester of the undergraduate degree program.
                    Three predictive models have been developed using Sas Enterprise Miner, which are an artificial neural network, decision tree, and linear regression. The result of this study shows that all of the three models produce more than 80 percent accuracy. 
                    It also shows that an artificial neural network outperforms the other two models.
                    
                    205 students' data were obtained for this project. 
                    The correlation coefficient analysis is carried out to determine the relationship of the independent variables, that are, information technology application knowledge, previous school(boarding or non-boarding), programming knowledge, and family financial status, with the dependent variable, which is students CGPA in the final semester. 
                    A correlation of 0.87 is obtained, which shows that the most significant input variable is the final CGPA. Model selection is based on the square root of average squared error RASE for the validation data set.</p>
                </div>
            </div>
        </div>

{% endblock content %}