{% extends "blog/baseUser.html" %}
{% load static %}
{% block content %}
    <style>
        body {
            background-color: #ffffff;
        }
    </style>
    <div class="container mt-4 mb-4">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">File Name</th>
                        <th scope="col">Description</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for file in files %}
                    <tr>
                        <th scope="row">{{ file.id }}</th>
                        <td>{{ file.file_name }}</td>
                        <td>{{ file.description }}</td>
                        <td>
                            <button type="button" class="btn btn-success"><a href="{% url 'download' pk=file.id %}">View</a></button>
                        </td>
                        <td>
                            <button type="button" class="btn btn-danger"><a href="{% url 'delete' pk=file.id %}">Delete</a></button>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock content %}