{% extends 'blog/baseUser.html' %}
{% load static %}
{% block content %}
<div class="container mt-5 mb-5">
<div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">Upload a file.</div>
            <div class="card-body">
                <h4 class="card-title fa fa-3x">Upload Files</h4>
                <p class="card-text">Upload the result files</p>
                <a name="uploadFiles" class="btn btn-primary" href="{% url 'uploadFiles' %}" role="button">Upload files</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">Search Result</div>
            <div class="card-body">
                <h4 class="card-title fa fa-3x">Search Result</h4>
                <p class="card-text">Search result by Roll number</p>
                <a name="uploadFiles" class="btn btn-primary" href="{% url 'student-result-search' %}" role="button">Search</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">See Results</div>
            <div class="card-body">
                <h4 class="card-title fa fa-3x">See results </h4>
                <p class="card-text">See results by departments</p>
                <a name="uploadFiles" class="btn btn-primary" href="{% url 'department-results' dep='Aerospace Engineering' sem=1 section='A' %}" role="button">View</a>
            </div>
        </div>
    </div>
</div>
<div class="row mt-5">
<div class="col-md-4">
        <div class="card">
            <div class="card-header">Files</div>
            <div class="card-body">
                <h4 class="card-title fa fa-3x">View Files</h4>
                <p class="card-text">View Available files</p>
                <a name="uploadFiles" class="btn btn-primary" href="{% url 'files' %}" role="button">View</a>
            </div>
        </div>
    </div>

<div class="col-md-4">
        <div class="card">
            <div class="card-header">Logout</div>
            <div class="card-body">
                <h4 class="card-title fa fa-3x">Log Out Now</h4>
                <p class="card-text">Log Out</p>
                <a name="uploadFiles" class="btn btn-primary" href="{% url 'blog-logout' %}" role="button">Log Out</a>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock content %}